<nav class="navbar navbar-static-top navbar-expand-md">
  <div class="container", id="header">
    <% if signed_in? %>
      <%= link_to t(".new_recipe"), new_user_recipe_path(current_user), class: 'nav-link' %>
      <%= link_to t(".view_recipes"), user_recipes_path(current_user), class: 'nav-link' %>
      <%= button_to t(".sign_out"), sign_out_path, method: :delete %>
      <% else %>
      <%= link_to t(".sign_in"), sign_in_path, 'nav-link' %>
      <% end %>
  </div>
</nav>

